<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRAT</title>
</head>
<body style="background-color: red;">
    <center>
        <h1>This is VIRAT HTML Page</h1>
        <h2>Virat Kohli is an Indian international cricketer and the former captain of the India national team who plays as a right-handed batsman for Royal Challengers Bangalore in the IPL</h2>
        <a href="{% url 'dhoni' %}"><h5 style="color: yellow;">Navigate To DHONI HTML Page</h5></a>
    </center>
</body>
</html>